.block a {
  color: #C09358;
}

.block a:hover {
  color: #F0F388;
}

.block li a.active {
  color: #F0F388;
}

.block .content {
  border: 1px solid #C49A34;
  padding: 10px;
  position: relative;
}

.block h2.title {
  color: #c49a34;
  font-size: 14px;
  font-weight: bold;
  width: 90%;
  line-height: normal;
  padding-bottom: 6px;
}

h1.title {
  padding-top: 0;
  padding-bottom: 0;
  color: #F0F388;
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Block rounded corner rules */

.block .content .corner {
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
}

.block .content .corner-top-left {
  top: -1px;
  left: -1px;
  background: url(./corner-blocks.gif) top left no-repeat;
}

.block .content .corner-top-right {
  top: -1px;
  right: -1px;
  background: url(./corner-blocks.gif) top right no-repeat;
}

.block .content .corner-bottom-left {
  bottom: -1px;
  left: -1px;
  background: url(./corner-blocks.gif) bottom left no-repeat;
}

.block .content .corner-bottom-right {
  bottom: -1px;
  right: -1px;
  background: url(./corner-blocks.gif) bottom right no-repeat;
}


/* Main body rounded corner rules */

#content-wrapper-inner {
  position: relative;
}

#content-wrapper-inner .corner {
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
}

#content-wrapper-inner .corner-top-left {
  top: -1px;
  left: -1px;
  background: url(./corner-body.gif) top left no-repeat;
}

#content-wrapper-inner .corner-top-right {
  top: -1px;
  right: -1px;
  background: url(./corner-body.gif) top right no-repeat;
}

#content-wrapper-inner .corner-bottom-left {
  bottom: -1px;
  left: -1px;
  background: url(./corner-body.gif) bottom left no-repeat;
}

#content-wrapper-inner .corner-bottom-right {
  bottom: -1px;
  right: -1px;
  background: url(./corner-body.gif) bottom right no-repeat;
}
